<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="Saisansthan_accounts2021-04-30">
                
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
                
        <property name="java-output-path" value="/Saisansthan_accounts2021-04-30/build/classes"/>
        <property name="context-root" value="Saisansthan_accounts2021-04-30"/>
            
    </wb-module>
    
</project-modules>
