/* CSS Document */
body {
	margin: 5px 0px 0px 0px;
	background:url(images/bg1.jpg) repeat-x left top #cfe409;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     line-height: 0;
     content: " ";
     clear: both;
     height: 0;
     width: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.style1{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
}
.buttons{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
}
.topgap
{
margin-top:15px;
}
.members
{
width:210px; float:left;padding:5px 0px; height:14px;line-height:14px;margin-top:12px; margin-right:50px;vertical-align:text-bottom;
}
.members input
{
float:left;vertical-align:text-bottom;height:14px;line-height:14px;
}
.select
{
width:180px;
padding-left:10px;
}
.select .fog
{
float:left;
width:40px;
margin-right:5px;
text-align:center;
}
.select .fog select
{
width:40px;
}
.logout
{
	background:url(images/heading_bg.jpg) repeat-x top left;
	margin:0px;
	padding:0px;
	height:34px;
	line-height:34px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	text-decoration:none;
}
.logout a
{
	color:#FFF;
	text-decoration:none;
}
.logout a:hover
{
	text-decoration:underline;
	color:#faea59;
}
.kws_admin
{
	background:url(images/heading_bg.jpg) repeat-x top left;
	margin:0px;
	padding-right:150px;
	height:34px;
	line-height:34px;
	text-align:right;
	color:#FFF;
	font-weight:bold;
	font-size:22px;
	text-shadow: 2px 2px #d0b942;
	letter-spacing:3px;
}

.buttons a {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background: #a39603 url(images/button_bg.jpg) repeat-x left;
height:42px;
line-height:42px;
display:block;
}
.buttons a:hover {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background:#a39603;
height:41px;
line-height:41px;
display:block;
border-bottom:#665d01 1px solid;
}
.admin_login
{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:#ffffff;
background: #a39603 url(images/heading_bg.jpg) repeat-x left;
height:34px;
line-height:34px;
display:block;
letter-spacing:1px;

}
.box_heading {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background: #a39603 url(images/heading_bg.jpg) repeat-x left;
height:34px;
line-height:34px;
display:block;
border-bottom:#cabb00 1px solid;
width:220px;
}
.box_heading a{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background: #a39603 url(images/heading_bg.jpg) repeat-x left;
height:34px;
line-height:34px;
display:block;
border-bottom:#cabb00 1px solid;
padding-left:10px;
}
.box_heading a:hover {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background: #a39603;
height:34px;
line-height:34px;
display:block;
border-bottom:#cabb00 1px solid;
}
#content_wrapper {
padding:0px 10px 10px 10px;
}
.content_bg{
background:url(images/content_bg.jpg) no-repeat center;
}
.left_text {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:11px;
color:#ffffff;
text-decoration:none;
line-height:18px;
}
.normal_text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:12px;
color:#675e01;
text-decoration:none;
line-height:40px;
text-align:right;
padding-right:3px;
}
.attendance_text,.attendance_text1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:12px;
color:#504101;
text-decoration:none;
line-height:40px;
text-align:center;
}
.img_border {
border:#938903 solid 1px;
padding:2px;
}
.event_heading {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:13px;
color:#ffffff;
text-decoration:none;
line-height:25px;
}
.event_date {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:12px;
color:#ffffff;
text-decoration:none;
line-height:20px;
}
.heading {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:16px;
color:#445a00;
text-decoration:none;
line-height:30px;
}
.kws_table
{
	background:#FFC;
}
.kws_orange_heading {
	font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
color:#e8361d;
background:#FFF;
text-decoration:none;
line-height:40px;
text-align:left !important;
height:40px;
padding-left:20px;
}
.orange_heading,.orange_heading_atendec {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	color:#e8361d;
	text-decoration:none;
	line-height:40px;
	border-bottom:#ff4e06 1px dashed;
	margin-bottom:10px;
	text-align:center;
	height:40px;
}
.orange_heading_atendec
{
text-align:left;
font-style:italic;
text
}
.meeting_head
 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:16px;
color:#ff4f01;
text-decoration:none;
line-height:30px;
text-transform:uppercase;
border-bottom:#cabb00 1px dashed;
margin-bottom:10px;
text-align:center !important;
background:#fffef3;
}
.meeting_text
 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:16px;
color:#000000;
text-decoration:none;
line-height:30px;
text-transform:uppercase;
margin-bottom:10px;
text-align:center !important;
background:#fffef3;
}
.footer_text {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:10px;
color:#ffffff;
text-decoration:none;
line-height:18px;
}
.normal_text li {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:12px;
color:#504101;
text-decoration:none;
line-height:18px;
}
.normal_text li a{
color:#6a7d00;
text-decoration:none;
}
.normal_text li a:hover{
color:#504101;
text-decoration:underline;
}
/*.submit_button1 {
background:url(images/submit_button.jpg) repeat-x;
border:#fffef3 1px solid;
height:23px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
cursor:pointer;
}
.submit_button1:hover {
background:url(images/submit_button.jpg) repeat-x;
border:#fffef3 1px solid;
height:23px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
cursor:pointer;
}*/
.text_box {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
color:#000000;
font-weight:normal;
}
input, select, option, textarea {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
color:#000000;
font-weight:normal;
background:#fffef3;
border:#bbbbbb 1px solid;
}
a.member
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#6a5c03;
	text-decoration:none;
}
a.member:hover
{
	text-decoration:none;
	color:#000;
}
.box_listing {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:12px;
color:#ffffff;
background:#a39603 url(images/heading_bg1.jpg) repeat-x left;
display:block;
border-bottom:#cabb00 1px solid;
}
.meeting_year
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#C60;
	font-weight:bold;
}
.sno
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#666;
	text-align:right;
	padding:5px;
	margin:0px auto;
	padding-right:5px;
	
}

.timings_text {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:12px;
color:#e8361d;
text-decoration:none;
line-height:20px;
text-align:center !important;
padding-right:10px;
}

.submit_button:hover{
border:1px solid #65230d; text-decoration:underline 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc579), color-stop(100%, #fb9d23));
 background-image: -webkit-linear-gradient(top, #c88b2e, #671811);
 background-image: -moz-linear-gradient(top, #c88b2e, #671811);
 background-image: -ms-linear-gradient(top, #c88b2e, #671811);
 background-image: -o-linear-gradient(top, #c88b2e, #671811);
 background-image: linear-gradient(top, #c88b2e, #671811);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c88b2e, endColorstr=#671811);
 
}

.submit_button{
 border:1px solid #cabb00; background-color: #ffaf46;
 color:#FFF; font-size:12px !important;!important;
 -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 5px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFF; background-color: #ffc579; font-size:12px !important;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf46), color-stop(100%, #e78404));
 background-image: -webkit-linear-gradient(top, #a09402, #675e01);
 background-image: -moz-linear-gradient(top, #a09402, #675e01);
 background-image: -ms-linear-gradient(top, #a09402, #675e01);
 background-image: -o-linear-gradient(top, #a09402, #675e01);
 background-image: linear-gradient(top, #a09402, #675e01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a09402, endColorstr=#675e01);cursor:pointer;
}
.kws_inputbox
{
	border:none;
	border-radius:3px;
	background:#FFF;
	border:1px solid #718001;	
	-moz-border-radius: 3px 0px 0px 3px;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	 -moz-box-shadow:inset 2px 2px 3px #fee5b6;
 	-webkit-box-shadow:inset 2px 2px 3px #fee5b6;
	 box-shadow:inset 2px 2px 3px #fee5b6;
	height:20px;
	padding-left:5px;
}
#cssmenu
{ 
	height:40px;
	 display:block;
	  padding:0; 
	  margin: 0;  
	  border:1px solid;
} 
#cssmenu > ul
 {
	 list-style:inside none;
	 padding:0;
	 margin:0;
} 
#cssmenu > ul > li 
{
list-style:inside none;
 padding:0;
  margin:0; 
  float:left;
   display:block;
    position:relative;
} 
#cssmenu > ul > li > a
{
	 outline:none; 
	 display:block;
	  position:relative;
	   padding:12px 16px 12px 16px;
	   font-family:Arial, Helvetica, sans-serif;
	   font-size:12px;
		 text-align:center; 
		 text-decoration:none; 
		 text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a
{
	border-radius:5px 0 0 5px;
} 
#cssmenu > ul > li > a:after
{ 
content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99;
 } 
#cssmenu ul li.has-sub:hover > a:after
{
	top:0; bottom:0;
}
#cssmenu > ul > li.has-sub > a:before
{
	 content:''; 
	 position:absolute;
	  top:18px; 
	  right:4px;
	   border:5px solid transparent;
	    border-top:5px solid #fff;
 } 
#cssmenu > ul > li.has-sub:hover > a:before
{
	top:19px;
} 
#cssmenu ul li.has-sub:hover > a{
 background:#a39603;
 border-color:#a39603; 
 padding-bottom:13px; 
 padding-top:13px; 
 top:-1px; 
 z-index:999;
} 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div
{
	display:block;
} 
#cssmenu ul li.has-sub > a:hover{background:url(files/home.jpg); border-color:#a39603;} 
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#a39603; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:240px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 


#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:url(files/home.jpg); background:-moz-linear-gradient(top, #697d00 0%, #928804 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#697d00), color-stop(100%,#928804)); background:-webkit-linear-gradient(top, #697d00 0%,#928804 100%); background:-o-linear-gradient(top, #697d00 0%,#928804 100%); background:-ms-linear-gradient(top, #697d00 0%,#928804 100%); background:linear-gradient(top, #697d00 0%,#928804 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#697d00', endColorstr='#928804',GradientType=0 ); } 
#cssmenu{border-color:#cabb00;} 
#cssmenu > ul > li > a{border-right:1px solid #cabb00; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#444;} 
#cssmenu > ul > li > a:hover{background:url(files/home.jpg);}


.kws_my
{
	background:#958a03; 
	border-right: 2px solid #671811;
}
.view
{
background:#FFF;
text-align:left;
border-left:1px solid #EEE;
border-top:1px solid #EEE;
}
table.view tr td,table.view tr th
{
border-right:1px solid #EEE;
border-bottom:1px solid #EEE;
padding-left:15px;
}
table.noB tr td
{
border:0px;
}
.attendance_text1
{
line-height:15px;
border-right:1px solid #EEE;
padding:0 5px;
}