#country-select {
	position: absolute;
	top: 20px;
	right: 0;
}

.ddarrow {
	position: absolute;
	width: 7px;
	height: 7px;
	top: 25px;
	right: 6px;
	background: url('../images/dropdown.png') no-repeat 0 -7px;
	cursor: pointer;
}

.globeIcon {
	position: absolute;
	width: 17px;
	height: 18px;
	top: 20px;
	right: 83px;
	background: url('../images/globe.png') no-repeat 0 0;
	cursor: pointer;
}

/* rought form styles for when JS is disabled */

#country-select form {
	padding: 0;
}

#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
}
	
/* JS-created definition list */

.dropdown dd { position: relative; margin: 0; }

.dropdown a {
	text-decoration: none;
	outline: 0;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	width: 85px;
	overflow: hidden;
	text-indent: 22px;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

}

.dropdown dt {
	border: 1px solid #eee;
}

	.dropdown dt a {
		background: #f6f7f7;
		padding: 4px 16px 4px 4px;
		color: #474a59;
		text-align: right;
	}


.dropdown dl {
	width: 80px;
}

	.dropdown dt a.active {
		background: #fff;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		color: #214b8d;
	}

.dropdown dd ul {
	background: #fff;
	width: auto;
	border: 1px solid #f5f5f5;
	color: #C5C0B0;
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	padding: 0;
	list-style: none;
	border-top: none;
	margin: 0;
	border: 1px solid #eee;
	border-top: 0;
}

	.dropdown dd ul li {
		float: none;
		text-align: right!important;
	}

	.dropdown dd ul li:hover {
		background: #f2f5f5;
	}

	.dropdown dd ul li a {
		padding: 3px 16px 3px 8px;
		width: 81px;
		height: 20px;
		line-height: 20px;
		text-align: right;
		text-indent: 0;
		font-size: 12px!important;
	}

		.dropdown dd ul li a:hover {
			font-weight: normal;
		}

	.dropdown dd ul li a em,
	.dropdown dt a em {
		font-style: normal;
		float: left;
		width: 80px;
		cursor: pointer;
		font-size: 12px;
	}

	.dropdown dd ul li a em {
		color: #474a59;
	}

		.dropdown dd ul li a:hover { background-color: rgba(255,255,255,.1); }
		.dropdown dd ul li a:hover em { color: #214b8d; font-weight: normal }