       body {
            font-family: verdana ;
            font-size: 14px ;
            }
 
        h1 {
            font-size: 180% ;
            }
 
        h2 {
            border-bottom: 1px solid #999999 ;
            }
 
        .printable {
            border: 1px dotted #CCCCCC ;
            padding: 10px 10px 10px 10px ;
            }
 
        img {
            background-color: #E0E0E0 ;
            border: 1px solid #666666 ;
            padding: 5px 5px 5px 5px ;
            }
 
        a {
            color: red ;
            }