*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/bg.jpg') center top repeat-y #202020;
	
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#888;
}



/* DASH BOARD NAVIGATION-BAR */
.top-nav .navbar{
	padding:15px;
	
}
.top-nav .navbar-brand{
	margin-top:0px;
}
.top-nav .navbar-default{
	margin-bottom:0px;
}
.bg-light-blue{
	background:#ecf0f1;
}
.navigation .navbar-inverse{
	background:#1f87c3 !important;
	color:#fff !important;
	border-radius:0px !important;
	border:1px solid #1f87c3 !important;
	margin-bottom:0px;
}
.navigation .navbar-inverse .navbar-nav>li>a{
	color:#fff !important;
}
/* .navigation .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
background:rgba(33, 78, 95, .5) !important;
color:#fff;	
} */
.line {
    margin-top: 0;
    margin-bottom: 0;
    
     border-bottom: 2px solid #ccc;
    /* padding: 0px 68px; */
    width: 230px !important;
    margin-left: -20px;
}

.dashboard .left-section h3{
	font-size:18px;
}
 .left-section a{
	color:#111 !important;
} 

.dashboard .left-section ul li{
	line-height:25px;
}
/* .dashboard .left-section .to-do ul{
	list-style-image:./admin/images/hips.jpg) no-repeat !important;
} */
.dashboard .right-section .nav-tabs li{
    background:#8b421b !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    margin-right:5px;
}
.dashboard .right-section .nav-tabs li a{
	margin-right:0px;
	color:#fff !important;
}
.dashboard .right-section .nav-tabs li.active a{
	color:#111 !important;
}
.dashboard .right-section .nav-tabs li:hover a{
	background: #0098cd !important;
}
.dashboard .right-section h5{
	padding-bottom:0px !important;
	color:#fff;
}
.dashboard .right-section .panel .panel-heading{
	padding:2px 15px;
	background-color:#8b421b !important;
	color:#fff;
}
.dashboard .panel{
	border:1px solid #cdcdcd;
}
.dashboard .right-section .panel .panel-body{
	padding:20px 15px !important;
}
.text-brown{
	color:#8b421b !important;
}

.btn-brown{
	background-color:#8b421b !important;
	color:#fff !important;
	display:block;
	margin-top:10px;
	padding:10px;
	transition:0.5s;
}
.btn-brown:hover{
	background: #0098cd !important;
	color:#fff !important;
	display:block;
	margin-top:10px;
}






/*--------------------------
	Top Bar with Headings
---------------------------*/


h1,h2{
	color: #fff;
	line-height: 1;
	background-color: #222222;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -446px;
}

h1{
	font-size: 33px;
	padding: 5px 15px 10px;
	top: 34px;
}

h2{
	font-size: 14px;
	padding: 4px 13px 9px 11px;
	top: 82px;
}

#topBar{
	background:url('../img/top_bar_bg.jpg') repeat-x;
	height:163px;
}


/*-------------------
	Photo area
--------------------*/


#photos{
	margin: 60px auto 100px;
	overflow: hidden;
	width: 880px;
}

#photos:hover a{
	opacity:0.5;
}

#photos a,
#loadMore{
	background-position: center center;
	background-color: rgba(14, 14, 14, 0.3);
	float: left;
	height: 110px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	width: 145px;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#photos a:hover{
	opacity:1;
}

#loadMore{
	cursor: pointer;
	line-height: 110px;
	text-align: center;
	text-transform: uppercase;
	font-size:10px;
}

#loadMore:hover{
	color:#fff;
	text-shadow:0 0 4px #fff;
}


/*----------------------
	Camera slide up
-----------------------*/


#camera{
	background:url('../img/cam_bg.jpg') repeat-y;
	border:1px solid #f0f0f0;
	height:525px;
	width:598px;
	position:fixed;
	bottom: -466px;
	left:50%;
	margin-left:-300px;

	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.6);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.6);
	box-shadow:0 0 4px rgba(0,0,0,0.6);
}

.camTop{
	background:url('../img/cam.png') no-repeat center center;
	width:100%;
	height:66px;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
}

.settings{
	background:url('../img/settings.png') no-repeat;
	cursor: pointer;
	height: 28px;
	position: absolute;
	right: 37px;
	top: 448px;
	width: 30px;
}

.settings:hover{
	background-position:left bottom;
}

#screen{
	width:520px;
	height:370px;
	margin: 66px auto 22px;
	background:#ccc;
	
	line-height: 360px;
    text-align: center;
	color:#666;
}

.buttonPane{
	text-align: center;
}

.tooltip{
	background:url('../img/tooltip.png') no-repeat;
	position:absolute;
	width:177px;
	height:146px;
	right: 38px;
	top: -140px;
}

.blueButton,
.greenButton{
	background:url('../img/buttons.png') no-repeat;
	text-shadow:1px 1px 1px #277c9b;
	color:#fff !important;
	width:99px;
	height:38px;
	border:none;
	text-decoration:none;
	display:inline-block;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	margin: 0 4px;
}

.greenButton{
	background:url('../img/buttons.png') no-repeat right top;
	text-shadow:1px 1px 1px #498917;
}

.blueButton:hover,
.greenButton:hover{
	background-position:left bottom;
	text-decoration:none !important;
}

.greenButton:hover{
	background-position:right bottom;
}

.blueButton:active,
.greenButton:active{
	position:relative;
	bottom:-1px;
}

.hidden{
	display:none;
}


/*-------------------------
	Generic styles
--------------------------*/


a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}
